# =======================================================
# Variáveis de ambiente (Desenvolvimento Local)
# =======================================================

# -------------------------------------------------------
# Variáveis de ambiente PostgreSQL
# -------------------------------------------------------

DB_NAME=
DB_USER=
DB_PASSWORD=


# -------------------------------------------------------
# Variáveis de ambiente Redis
# -------------------------------------------------------

REDIS_PASSWORD=

# -------------------------------------------------------
# Variáveis de ambiente MinIO
# -------------------------------------------------------

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

# -------------------------------------------------------
# Variáveis de Ambiente JWT
# -------------------------------------------------------
JWT_SECRET: 
JWT_EXPIRATION_MS: 
JWT_REFRESH_EXPIRATION_MS: 


# -------------------------------------------------------
# Nome da Aplicação
# -------------------------------------------------------
APPLICATION_NAME: 
APPLICATION_INTEGRATION_NAME: 

# ------------------------------------------------------------
# Ambiente
# ------------------------------------------------------------
SPRING_PROFILES_ACTIVE=dev